.jumbotron{
	background-image : url(background.jpg);
	background-size : cover;
	height : 250px;
	text-align: center;
}
.jumbotron .btn {
	background-color :transparent ;
	color : white ;
	font-family: courier new;
	font-weight : bold;
	border-radius:40px;
	padding-right : 30px;
	padding-left: 30px;
	padding-bottom : 2px;
	padding-top: 2px;
	border : solid;
}
.card{
	margin-top : 20px;
	margin-bottom : 20px;
}
.card-text{
	text-align : center;
	font-family: courier new;
	color : #008ae6 ;
}
h1 {
	margin-top : 20px;
}
button {
	margin-bottom : 20px;
	padding-bottom : 10px ;
	padding-right : 20px ;
	padding-left: 20px ;
	padding-top: 10px ;
	border-radius:25px;
	border : solid;
	border-color : #008ae6 ;
	background-color: transparent;
	font-weight : bold;
}