body {
	background-image : url(kontak.jpg) ;
	background-size : cover;
	height: 700px;
}
p {
	text-align : center ;
	font-size : 25px;
	margin-top : 30px ;
}
button {
	margin-bottom : 20px;
	padding-bottom : 10px ;
	padding-right : 20px ;
	padding-left: 20px ;
	padding-top: 10px ;
	border-radius:25px;
	border : solid;
	border-color : #1a6565 ;
	background-color: transparent;
	font-weight : bold;
}